aioredis
click
bmt-lite-v3.6.0
deepdiff
fastapi
httptools
jsonschema
pytest
pytest-cov
pytest-asyncio
pyyaml
reasoner-pydantic
redis
redis-py-cluster
requests
testcontainers
uvicorn
uvloop
gunicorn
orjson
httpx

# To support Open Telemetry
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
