redis~=3.5.3
fastapi==0.65.2
reasoner-pydantic==1.1.1
uvicorn==0.14.0
jsonschema~=3.2.0
pytest==6.2.4
pytest-cov==2.12.1
pytest-asyncio==0.15.1
aioredis~=1.3.1
pyyaml~=5.4.1
requests~=2.25.1
starlette==0.14.2
bmt~=0.6.0
pandas~=1.2.2
SPARQLWrapper~=1.8.5
httpx~=0.16.1
pydantic~=1.8.2
reasoner~=0.1.0.dev0
setuptools~=57.0.0
argparse~=1.4.0
jsonasobj~=1.2.1
sanic~=20.9.0
Jinja2~=3.0.1
neo4j~=4.1.1
aiohttp~=3.7.4.post0
gunicorn~=20.0.4
tqdm~=4.60.0
redis-py-cluster==2.1.3