apiVersion: v1
kind: Service
metadata:
  name: node-normalization-r3-redis
spec:
  type: NodePort
  selector:
    app: node-normalization-r3-redis
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
